.but{
    
    display: flex;
    justify-content:space-evenly;
    margin-top: 100px;

}
#button1{
    width: 180px;
    height: 80px;
    
}
.bat{
    width: 180px;
    height: 80px;
    border-radius: 15px;
    transition: 0.7s;
    font-size: 25px;
    background-color: rgb(130, 245, 101);
    box-shadow: 12px 12px 2px 1px rgba(8, 8, 8, 0.116);;
}
.bat:hover{
    background-color: rgb(252, 255, 88);
    transform: scale(1.7);
    transition: 0.7s;
    box-shadow: 20px 20px 5px 2px rgba(8, 8, 8, 0.055);;
}
.privatbank{
    display: flex;
    margin-top: 80px;
    align-content: center;
    justify-content: center;
}